/* UIkit Overrides */

.uk-notification-message {
    border-color: #FFFFFF !important;
    padding: 5px !important;
    text-align: center !important;
    font-size: 95% !important;
}

.uk-notification-message-primary {
    background-color: #000000 !important;
    color: #FFFFFF !important;
}

.uk-notification-message-danger {
    background-color: #D85030 !important;
    color: #FFFFFF !important;
}

.uk-modal h3 {
    display: inline;
    margin-left: 15px;
}

.uk-modal .uk-alert {
    padding-right: 0px;
}

.uk-modal .uk-button-primary {
    background-color: #000000 !important;
}

.uk-offcanvas-bar {
    width: 450px;
}

.uk-tooltip {
    background-color: #000000;
}

/* UI Builder */

#console {
    padding-bottom: 5px;
}

#console > #input {
    border: none;
    outline: none;
    margin-left: 5px;
}

#app > #header {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
}

#app > #header button {
    position: relative;
    bottom: 1.5px;
}

#app > #root {
    padding-top: 40px;
    
    /* resolves a bug in UIkit where margin-left is set */
    /* to -40px when there is nothing inside the grid   */
    margin-left: 0px;
}

#app > #root > #canvas {
    padding-left: 40px;
}

#app > #root > #canvas > #loader {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

#app > #root > #canvas > #loader .fa-circle-notch {
    position: relative;
    top: 1px;
}

#app > #root > #info #currentShowHide {
    width: 72px;
}

#codeEditor > div {
    width: 50vw !important;
    opacity: 0.8;
}

#codeEditor #code {
    height: 50vh;
    margin-bottom: 10px;
}